    * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

body {
    background-color: #020A18;
    font-family: 'Noto Sans', sans-serif;
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}

.center {
    display: flex;
    justify-content: center;
}

.header {
    margin-bottom: 160px;
}

.container {
    margin: 0 auto;
    position: relative;
}

.nav {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 32px;
}

.menu-link {
    color: #FFF;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    padding: 39px 20px;
}

.menu-link:hover {
    color: #3A68B8;
}

.main {
    margin-bottom: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 128px;
}

.main-text {
    width: 45%;
}

.main-img {
    width: 45%;
    display: flex;
    justify-content: end;
}

.subtitle {
    color: #3A68B8;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    text-transform: uppercase;
    margin-bottom: 10px;
}

.title {
    color: #FFF;
    font-size: 55px;
    font-style: normal;
    font-weight: 800;
    line-height: 130%;
    margin-bottom: 40px;
}

.dsc {
    color: #FFF;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    /* 28.8px */
    opacity: 0.7;
    margin-bottom: 50px;
}

.main-link {
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    color: var(--ffffff, #FFF);
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-right: 20px;
}

.flex {
    display: flex;
    justify-content: space-between;
}

.logo {
    display: flex;
    justify-content: center;
    gap: 32px;
    margin-bottom: 256px;
}

.title-about {
    color: var(--ffffff, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    margin-bottom: 30px;
}

.dsc-about {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    margin-bottom: 50px;
}

.about-link {
    display: inline-flex;
    padding: 15px 30px;
    align-items: flex-start;
    gap: 10px;
    border-radius: 5px;
    background: var(--3-a-68-b-8, #3A68B8);
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
}

.services {
    display: grid;
    gap: 30px;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 264px;
    padding-bottom: 243px;
}

.item {
    display: grid;
    justify-items: center;
    border-radius: 10px;
    background: #132035;
    padding: 30px;
    text-align: center;
    gap: 30px;
}

.item_big {
    grid-column: span 2;
    grid-row: span 2;
    padding-bottom: 30px;
    gap: 60px;
}

.title-serv {
    color: var(--ffffff, #FFF);
    font-size: 25px;
    font-weight: 700;
    line-height: 125%;
    opacity: 0.7;
}

.text-serv {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 26px;
    opacity: 0.7;
}

.title-blog {
    color: var(--ffffff, #FFF);
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: 130%;
    padding-bottom: 40px;
}

.blog-about {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 160%;
    opacity: 0.7;
    padding: 20px;
    padding-right: 113px;
}

.footer {
    font-family: Roboto;
    display: grid;
    grid-template-columns: repeat(3, 362px);
    justify-content: center;
    padding-top: 48px;
    padding-bottom: 46px;
}

.contact {
    display: flex;
    max-width: 362px;
    flex-direction: column;
    align-items: flex-start;
    gap: 24px;
}

.title-contact {
    color: var(--ffffff, #FFF);
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
    padding-bottom: 9px;
}

.subtitle-contact {
    color: var(--ffffff, #FFF);
    font-size: 14px;
    font-weight: 500;
}

.dsc-conact {
    max-width: 261px;
    color: var(--ffffff, #FFF);
    font-family: Roboto;
    font-size: 14px;
    font-style: italic;
    font-weight: 100;
    line-height: normal;
    opacity: 0.6;
}

.icon-contact {
    display: flex;
    align-items: flex-start;
    gap: 24px;
    opacity: 0.6;
}

@media (min-width: 768px) and (max-width: 1024px) {
    /* Стили для планшета */
    .main {
        display: flex;
    }
    .title {
        color: var(--ffffff, #FFF);
        font-size: 48px;
        font-style: normal;
        font-weight: 800;
        line-height: 130%;
    }
    .flex {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .main-link {
        display: inline-flex;
        padding: 15px 30px;
        gap: 10px;
    }
    .main-text {
        width: 50%;
    }
    .main-img {
        width: 50%;
        margin-top: 128px;
    }
    .logo {
        display: flex;
        max-width: 650px;
        margin: auto;
        align-content: space-around;
        /* flex-direction: row; */
        flex-wrap: wrap;
        margin-bottom: 277px;
    }
    .about-img {
        width: 50%;
        margin-bottom: 68px;
    }
    .about-text {
        width: 50%;
    }
    .services {
        display: grid;
        gap: 32px;
        grid-template-columns: repeat(1, 362px);
    }
    .item_big {
        grid-column: span 1;
        grid-row: span 1;
        gap: 30px;
    }
    .item_big img {
        width: 98px;
    }
    .blog-text {
        width: 60%;
        margin-bottom: 64px;
    }
    .blog-img {
        width: 60%;
        margin-bottom: 221px;
    }
    .footer {
        display: grid;
        grid-template-columns: repeat(2, 369px);
    }